// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Oswald:400,700';
$font-family--primary    : 'Oswald', sans-serif;
$font-family--secondary  : ‘Times New Roman’, Times, serif;

// Color Usage

$color-key   	 : #8D742A;
$color-main 	 : #08192D;
$color-text      : #c0c0c0;
$white           : #fff;
$black           : #000;
$grey            : #fafafa;


