.aboutme {
	width: 70%;
	max-width: 900px;
	height: calc(100vh - 60px);
	margin: 0 auto;
	color: $color-text;
	display: flex;
	justify-content: space-between;
	z-index: 100;
	@include mq("medium") {
		width: 80%;
		height: 100%;
		flex-direction: column;
	}
	p {
		font-size: 1.6rem;
		font-family: $font-family--secondary;
		line-height: 1.5em;
		@include mq("small") {
			font-size: 1rem;
		}
	}
	h5 {
		font-size: 1.6rem;
		margin: 15px 0 5px;
		letter-spacing: 0.05em;
		@include mq("small") {
			font-size: 1rem;
		}
	}
}
.aboutme__left {
	width: 50%;
	height: 100%;
	position: relative;
	order: 1;
	@include mq("medium") {
		width: 100%;
		margin-bottom: 50px;
		padding-top: 20px;
		order: 2;
	}
	.content__container {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include mq("medium") {
			position: static;
			transform: translateY(0);
		}
	}
	h2 {
		font-size: 6rem;
    	letter-spacing: 0.03em;
    	line-height: 1em;
    	margin-bottom: 30px;
		@include mq("medium"){
			margin-bottom: 15px;
			font-size: 4.5rem;
		}
		@include mq("small") {
			font-size: 3rem;
		}
	}
}
.aboutme__right {
	width: 40%;
	height: 100%;
	position: relative;
	order: 2;
	@include mq("medium") {
		margin-bottom: 20px;
		margin-top: 15vh;
		width: 100%;
		order: 1;
	}
	.image__container {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		@include mq("medium") {
			position: static;
			top: 100px;
			right: auto;
			transform: translateY(0);
		}
		img {
			max-width: 300px;
			max-height: 422px;
		}
	}
	.sns {
		@include mq("small") {
			margin-top: 30px;
		}
		.sns__item {
			margin-right: 40px;
		}
	}
}
