.aboutme {
	width: 70%;
	height: calc(100vh - 60px);
	margin: 0 auto;
	color: $color-text;
	display: flex;
	justify-content: space-between;
	z-index: 100;
	@include mq("medium") {
		width: 80%;
		height: 100%;
		flex-direction: column-reverse;
		justify-content: center;
	}
	p {
		font-size: 1.6rem;
		font-family: $font-family--secondary;
		line-height: 1.5em;
	}
}
.aboutme__left {
	width: 40%;
	margin-top: 25vh;
	@include mq("medium") {
		width: 100%;
		margin-bottom: 50px;
		margin-top: 20px;
	}
}
.aboutme__right {
	position: relative;
	width: 45%;
	margin-top: 20vh;
	@include mq("medium") {
		width: 100%;
	}
	h2 {
		font-size: 8rem;
    	margin-bottom: 40px;
    	letter-spacing: 0.03em;
    	line-height: 1em;
    	position: absolute;
    	right: 0;
    	z-index: 100;
    	margin-top: 50px;
	}
	.photo-myself img {
		width: 75%;
		max-width: 480px;
		@include mq("medium") {
			width: 80%;
		}
	}
}
