.box-line {
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	margin: 30px 0 30px 30px;
	position: relative;
	border: 1px solid $color-key;
	@include mq("medium") {
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		margin: 15px 0 15px 15px;
	}
}
.border-box {
	position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    overflow: hidden;
    z-index: 2;
	@include mq("medium") {
		top: 15px;
	    left: 15px;
	    right: 15px;
	    bottom: 15px;
	}
	> div {
		position: absolute;
		background-color: $color-key;
	}
	.border-box__top {
		top: 0;
		right: 0;
		height: 1px;
		width: 100%;
		transform: scaleX(1);
		transform-origin: left center;
		opacity: 1;
	}
	.border-box__right {
		top: 0;
		right: 0;
		height: 100%;
		width: 1px;
		transform: scaleY(1);
		transform-origin: center top;
		opacity: 1;
	}
	.border-box__bottom {
		bottom: 0;
		right: 0;
		height: 1px;
		width: 100%;
		transform: scaleX(1);
		transform-origin: right center;
		opacity: 1;
	}
	.border-box__left {
		top: 0;
		left: 0;
		height: 100%;
		width: 1px;
		transform: scaleY(1);
		transform-origin: center bottom;
		opacity: 1;
	}
}
