.contact {
	width: 90%;
	max-width: 1200px;
	height: calc(100vh - 60px);
	color: $color-text;
	z-index: 100;
	margin: 0 auto;
	position: relative;
	@include mq("medium") {
		height: calc(100vh - 30px);
	}
	.contact__container {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	h2 {
		font-size: 3.5rem;
		margin-bottom: 40px;
		letter-spacing: 0.03em;
		@include mq("small") {
			font-size: 2rem;
			margin-bottom: 0px;
		}
	}
}
.contact-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.form-group {
		width: 47%;
		@include mq("small") {
			width: 100%;
		}
		label {
			display: block;
			width: 80px;
			font-size: 1.6rem;
			letter-spacing: 0.04em;
			margin-bottom: 10px;
			@include mq("small") {
				font-size: 1rem;
				margin-top: 40px;
			}
		}
		input {
			display: block;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $color-text;
			width: 100%;
			color: $color-text;
			font-size: 1.6rem;
			padding-bottom: 3px;
			@include mq("small") {
				font-size: 1rem;
			}
		}
		textarea {
			display: block;
			width: 100%;
			height: 50px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $color-text;
			color: $color-text;
			font-size: 1.6rem;
			@include mq("small") {
				font-size: 1rem;
			}
		}
	}

	.form-message {
		width: 100%;
		margin: 40px 0;
		@include mq("small") {
			margin: 0;
			margin-bottom: 20px;
		}
	}

	.form-button {
		width: 30%;
		@include mq("small") {
			width: 20%;
		}
	}
	.btn-submit {
		display: block;
		background-color: transparent;
		border: none;
		color: $color-key;
		font-size: 1.6rem;
		letter-spacing: 0.04em;
		text-align: left;
		padding: 0 0 5px 0;
		font-family: $font-family--primary;
		cursor: pointer;
		@include mq("small") {
			font-size: 1rem;
		}
	}
}

.sns {
	margin-top: 30px;
	width: 30%;
	display: flex;
	@include mq("small") {
		width: 60%;
		margin-top: 10px;
	}
	.sns__item {
		width: 25%;
		a {
			color: $color-text;
			transition: color 0.3s;
			&:hover {
				color: $color-key;
			}
		}
	}
}

//Contact Form 7
span.wpcf7-not-valid-tip {
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	margin-top: 5px;
	@include mq("small") {
		font-size: 1rem;
	}
}
div.wpcf7-response-output {
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	color: #f00;
	width: 50%;
	margin: 0;
	text-align: right;
	@include mq("small") {
		font-size: 1rem;
		width: 70%;
	}
}
div.wpcf7-mail-sent-ok {
	border: none;
	color: $color-text;
}

div.wpcf7-mail-sent-ng {
	border: none;
}

div.wpcf7-spam-blocked {
	border: none;
}

div.wpcf7-validation-errors {
	border: none;
}
