main {
	overflow: hidden;
}
.main-about {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: 	$color-text;
	text-align: center;
	z-index: 200;
	.main-about__title {
		font-size: 9rem;
		line-height: 1.5em;
		letter-spacing: 0.13em;
		@include mq("medium") {
			font-size: 3rem;
			line-height: 1.2em;
			margin-bottom: 20px;
		}
	}
	.main-about__description {
		font-size: 2.5rem;
		letter-spacing: 0.05em;
		line-height: 1.5em;
		font-family: $font-family--secondary;
		@include mq("medium") {
			font-size: 1.5rem;
			letter-spacing: 0.05em;
			line-height: 1.2em;
		}
	}
}

.img-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	img {
		width: 100%;
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    transform: translateX(-50%);
		opacity: 0.1;
	}
}
