.logo {
	a {
		display: inline-block;
		font-size: 1.5rem;
		letter-spacing: 0.1em;
		@include mq("medium") {
			font-size: 1.3rem;
		}
	}
}
.navbar {
	width: 85%;
	color: $color-key;
	position: fixed;
	left: 50%;
	top: 60px;
	transform: translateX(-50%);
	z-index: 101;
	@include mq("medium") {
		width: 80%;
		top: 40px;
	}
}
.nav {
	position: absolute;
	right: 0;
	top: 0;
}
.nav__item {
	display: inline-block;
	margin-left: 30px;
	margin-top: 5px;
	letter-spacing: 0.1em;
	a {
		display: block;
		font-size: 1.3rem;
		@include mq("medium") {
			font-size: 1.2rem;
		}
		@include mq("small") {
			font-size: 1rem;
		}
		&:after {
			display: block;
			content: "";
			margin-top: 3px;
			width: 0;
			height: 1px;
			background-color: $color-key;
			-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
			-webkit-transition: width .2s linear;
			transition: width .2s linear;
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
}
