.work {
	height: 100vh;
	width: 100%;
	color: $white;
}
.bcg-shadow {
	background-color: rgba(8,25,45,0.9);
	width: calc(50% + 1px);
	height: 100%;
	float: right;
	position: relative;
	@include mq("medium") {
		width: 70%;
	}
}
.work__container {
	width: 50%;
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	z-index: 100;
	@include mq("medium") {
		width: 80%;
	}
	.work__case {
		font-size: 1.6rem;
		@include mq("small") {
			font-size: 1rem;
		}
	}
	.work__name {
		font-size: 3.6rem;
		margin: 30px 0 10px;
		@include mq("small") {
			font-size: 2rem;
			margin: 20px 0 10px;
		}
	}
	.work__text {
		font-size: 1.4rem;
		line-height: 1.3;
		letter-spacing: 0.02em;
		font-family: $font-family--secondary;
		margin-bottom: 20px;
		@include mq("small") {
			font-size: 1rem;
		}
	}
	.btn__morelink {
		font-family: $font-family--primary;
		display: inline-block;
		font-size: 1.4rem;
		margin-top: 20px;
		a {
			display: block;
			padding-bottom: 4px;
		}
		&:after {
			display: block;
			content: "";
			width: 0;
			height: 1px;
			background-color: $color-key;
			-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
			-webkit-transition: width .2s linear;
			transition: width .2s linear;
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
		@include mq("small") {
			font-size: 1rem;
		}
	}

}

/*------ Full Page Js  --------*/
#fp-nav.left {
	left: 5%;
}

#fp-nav ul li{
    display: block;
    width: 10px;
    height: 30px;
    margin: 7px;
    position:relative;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    height: 30px;
    width: 7px;
    margin: -6px 0 0 -6px;
    border-radius: 0;
	background: $color-key;
	@include mq("small") {
		height: 25px;
		width: 5px;
	}
 }
#fp-nav ul li a span {
    border-radius: 0;
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 7px;
    border: 0;
    background: rgba(141,116,42,0.2);
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
	@include mq("small") {
		height: 25px;
		width: 5px;
	}
}
#fp-nav ul li:hover a span {
    width: 7px;
    height: 30px;
    margin: -6px 0px 0px -6px;
	@include mq("small") {
		height: 25px;
		width: 5px;
	}
}
